body{background-color:Cornsilk;
}
h1{font-family:veranda; 
text-align:center; 
color:black;
}
h2{font-family:courier; 
text-align:center; 
color:tan;
border:2px solid white;
padding: 30px;
margin: 100px;
}
h3{
font-family:arial; 
color:black
}
p{font-family:courier; 
color:grey; 
text-align:left;
}
hr{background-color:white; 
color:DarkGoldenRod;
}
